// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';

.login-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
}

@media (max-width: 991px) {
  .login-container {
    padding: 0 20px;
  }
}

.logo-img {
  width: 100%;
  max-width: 50px;
  margin-top: 20px;
}

.app-title {
  color: #495057;
  margin-top: 8px;
  white-space: nowrap;
  font: 800 20px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .app-title {
    white-space: initial;
  }
}

.form-group {
  margin-top: 20px;
}

.login-btn {
  color: #fff;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #7749f8;
  width: 100%;
  margin: 16px 0;
  padding: 10px 20px;
  font: 600 16px/112.5% Inter, sans-serif;
}

@media (max-width: 991px) {
  .login-btn {
    white-space: initial;
    margin-bottom: 40px;
  }
}

// filmes

.main-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 24px;
}

@media (max-width: 991px) {
  .main-container {
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 9px 16px;
  border: 1px solid var(--Gray-300, #dee2e6);
  background-color: var(--Default-White, #fff);
}

.logo {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  max-width: 100%;
  overflow: hidden;
  margin: auto 0;
}

.add-movie-link {
  display: flex;
  align-items: center;
  color: var(--Default-White, #fff);
  white-space: nowrap;
  border-radius: 6px;
  background-color: var(--Primary-Color, #7749f8);
  padding: 10px 16px;
  font: 600 16px/112.5% Inter, sans-serif;
}

@media (max-width: 991px) {
  .add-movie-link {
    white-space: initial;
  }
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 16px;
  border-radius: 6px;
  border: 1px solid var(--Gray-300, #dee2e6);
  background-color: var(--Default-White, #fff);
  width: 40%;
}

.film {
  border: 1px solid var(--Gray-300, #dee2e6);
  background-color: var(--Default-White, #fff);
}

.search-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  max-width: 100%;
  overflow: hidden;
  margin: auto 0;
}

.search-button {
  flex-grow: 1;
  align-self: stretch;
  white-space: nowrap;
  font: 400 16px/125% Inter, sans-serif;
  color: var(--Gray-500, #adb5bd);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.frame {
  border: 2px solid #dee2e6;
  border-radius: 8px;
  overflow: hidden;
}

.container {
  border-radius: 6px;
  padding: 20px;
}
